#face {
    z-index: 7;
}
#aside-home {
    z-index: 8;    
}
#aside-home > h3, #aside-home > h2 {
    color: rgb(255, 255, 255);
    transition: color .9s ease-in-out, transform .7s ease-in-out;
}
#aside-home > h3:hover, #aside-home > h2:hover{
    transform: scale(1.1);
    cursor: cell;
    color: rgb(233, 225, 119);
    transition: color .3s ease-in-out, transform .3s ease-in-out;
}
.home > h1{
    z-index: 9;
}
#sobre-img {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 78%;
    /* height: 85vh; */
    height: auto;
    margin: 5vh 1vw 1vh 0;
    /* position:absolute;
    top: 10%;*/
    left: 29.7%; 
    /* border-radius: 3em;
    border: 0.1em solid rgba(243, 247, 5, 0.301); */
    padding: 8vh 8vw;    
    overflow: hidden;
    /* justify-content: space-between;     */
    box-sizing:border-box;    
    /* mix-blend-mode: luminosity; */
    z-index: 7;
    transition: padding 0.8s ease;
    pointer-events: auto; 
    padding-right: 2vw !important;
    padding-bottom: 4vh !important;   
}
/* .pic {
    pointer-events: auto;
} */

.modal {
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #d8d7d7bd;
    opacity: 0;
    pointer-events: none;
    z-index: 99;
    transition: opacity .6s .9s ease-out;
    --transform: translateY(-110vh);
    --transition: transform .8s ease-in-out;
}
.modal--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s ease-out;
    --transform: translateY(-4vh);
    --transition: transform .8s .8s ease-out;
}
.modal-cont {
    display: grid;
    place-items: center;
    grid-auto-columns: 100%;
    margin: auto;
    width: auto;
    height: 100%;
    /* max-width: 600px; */
    max-height: 90%;
    transform: var(--transform);
    transition: var(--transition);
    
}
.modal-img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 3em;
}
