:root {
    --primary: rgb(61, 5, 10);
    --secondary: rgb(247, 193, 143);
    --terciary: rgb(63, 75, 238);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;;
}
html {
    background-image: linear-gradient(140deg, var(--secondary) 15%, var(--terciary)75%, var(--terciary)10%);
    width: 100vw;
    min-width: 465px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    min-width: 60%;
    height: 100vh;
}

#face , #faceBlur{
    height: 75vh;
    width:auto;
    position: absolute;
    bottom: 0;
    left: 20%;
    mask-image: linear-gradient(to left, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    pointer-events: none;
}
#face {
    opacity: 1;
    z-index: 9;
    transition: opacity 0.8s ease;    
}
#faceBlur {
    opacity: 1;
    z-index: 5;
}
#cont-portada, #fondo-portada {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 44vw;
    height: 85vh;
    position:absolute;
    top: 10%;
    left: 39%;
    border-radius: 3em;
    /* border: 0.1em solid rgba(243, 247, 5, 0.301);     */
    padding: 10vw;    
    overflow: hidden;
    justify-content: space-between;
    transition: padding 0.8s ease;    
    box-sizing: border-box;
    
}
#cont-portada {
    z-index: 9;
    pointer-events: none;
    transition: padding 0.8s ease;
}
#fondo-portada {
    background-image: linear-gradient(140deg, rgba(247, 193, 143, 0.5) 20%, rgba(238, 63, 229, 0.3)80%);
    mix-blend-mode: overlay;
    border-radius: 3em;
    border: 0.1em solid rgba(243, 247, 5, 0.301);
    z-index: 6;
    transition: padding 0.8s ease;
    pointer-events: auto;
}
#fondo-portada:hover {
    /* border: 0.1em solid rgba(243, 247, 5, 0.801); */
    
    background-image: linear-gradient(140deg, rgba(245, 181, 63, 0.5) 20%, rgba(245, 6, 106, 0.616)80%);
    #cont-portada {
        padding: 9vw;
    }
}

#fondo-portada:hover {
    #face {
        opacity: 0;
        transition: 0.8s;
    }
    #cont-portada {
        padding: 9vw;
    }
}
#fondo-portada:active {
    #cont-portada {
        background-color: red;
    }
}

#name {
    width: 100%;
    z-index: 12;
}
#porfolio {
    width: 100%;
    z-index: 13;
}




/* Teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {
    #cont-portada , #fondo-portada {
        width: 85vw;
        left: 10%;
    }
    #face , #faceBlur {
        left: -20%;
    }
}

/* Tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    #cont-portada, #fondo-portada {
        width: 75vw;
        left: 18%;
    }
    #face , #faceBlur {
        left: -10%;
    }
}

/* Tabletas y Portátiles pequeños */
@media (min-width: 1025px) and (max-width: 1400px) {
    #cont-portada, #fondo-portada  {
        width: 65vw;
        left: 28%;
    }
    #face , #faceBlur {
        left: 5%;
    }
}
/* Tabletas y Portátiles grandes */
@media (min-width: 1401px) and (max-width: 1800px) {
    #cont-portada, #fondo-portada  {
        width: 50vw;
        left: 32%;
    }
    #face , #faceBlur {
        left: 12%;
    }
}
/* Pantallas grandes */
@media (min-width: 1801px) {
    #cont-portada, #fondo-portada  {
        width: 44vw;
        left: 39%;
    }
    #face , #faceBlur {
        left: 20%;
    }
}