:root {
    --primary: rgb(61, 5, 10);
    --secondary: rgb(247, 193, 143);
    --tertiary: rgb(63, 75, 238);
    --cuarto: rgb(231, 123, 173);
    --quinto: rgb(180, 211, 131);
    --sexto: rgb(110, 186, 236);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;;
}
html {
    background-image: linear-gradient(140deg, var(--secondary) 15%, var(--tertiary)75%, var(--tertiary)10%);
    width: 100vw;
    min-width: 480px;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    margin:0 auto;
    min-width: 482px;
    width:1400px;
    height: 100vh;
    background-color: rgba(235, 176, 13, 0.158);
    /* mix-blend-mode: darken; */
    padding-top: 2vh;
}

#faceBlur{
    height: 75vh;
    width:auto;
    position: absolute;
    bottom: 0;
    left: 20%;
    mask-image: linear-gradient(to left, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    pointer-events: none;
    opacity: 1;
    z-index: 5;
}
bodier {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between  ;
    align-items: end;
    width: 20%;
    height: 85vh;
    margin: 5vh 0;
    padding: 10% 1%;
    border-radius: 3em;
    /* border: 0.1em solid rgba(243, 247, 5, 0.301); */
    /* background-image: linear-gradient(320deg, rgba(236, 224, 213, 0.2) 20%, rgba(240, 127, 164, 0.3)80%);
    mix-blend-mode: luminosity; */
    background-color: none;
    z-index: 6;
}
#fondo-portada {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 78%;
    height: 85vh;
    margin: 5vh 1vw auto 0;
    /* position:absolute;
    top: 10%;
    left: 20%; */
    border-radius: 3em;
    border: 0.1em solid rgba(243, 247, 5, 0.301);
    padding: 10vh 10vw;    
    overflow: hidden;
    justify-content: space-between;    
    box-sizing: border-box;
    background-image: linear-gradient(320deg, rgba(236, 224, 213, 0.2) 20%, rgba(240, 127, 164, 0.3)80%);
    mix-blend-mode: luminosity;
    z-index: 6;
    transition: padding 0.8s ease;
    pointer-events: auto;
}
#header {
    display: flex;
    justify-content: space-between;
}


nav {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}
nav > ul {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
}
nav li {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-grow: 1;
    flex-flow: 10px;
    border: 1px solid var(--tertiary);
    padding: 0.3rem;
    margin: 2px;
    align-items: center;
    box-sizing: border-box;
}
nav li a {
    display: block;
    width: 100%;
    color: var(--tertiary);
    text-align: center;
}
nav li:hover  {
    background-color: var(--secondary);
    border: 1px solid var(--tertiary);
    transition: 0.4s;
        a { 
            color: var(--tertiary);
            transition: 0.4s;          
        }
}
nav li:active  {
    background-color: var(--tertiary);
    outline: 2px var(--secondary) solid;
    transition: 0.3s;
}
nav li:active a { 
    color: var(--secondary);    
}
a {
    color: var(--font-color-nav);
    text-decoration: none;
    font-weight: 400;
}



/*|||||||||||||||| MEDIA QUERIES |||||||||||||||||*/
/* Teléfonos chico */
@media (max-width: 481px) {
    body {
        min-width: 480px;   
        width: 100vw;     
    }
    bodier {
        width: 100%;
        margin: 0;
    }
    aside {
        display: none;
    }
    #fondo-portada {
        width: 92%;
        margin: 5vh auto;
    }
    #face , #faceBlur {
        left: -20%;
    }
    nav {
        width: 70vw;
        margin: 0 15vw;
    }
}
/* Teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {
    body {  
        width: 100vw;     
    }
    bodier {
        width: 100%;
        margin: 0;
    }
    #fondo-portada {
        width: 92%;
        margin: 5vh auto;
    }
    aside {
        display: none;
    }
    #face , #faceBlur {
        left: -20%;
    }
    nav {
        width: 70vw;
        margin: 0 15vw;
    }
}

/* Tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    body {  
        width: 100vw;     
    }
    bodier {
        width: 100%;
        margin: 0;
    }
    #fondo-portada {
        width: 92%;
        margin: 5vh auto;
    }
    aside {
        display: none;
    }
    #face , #faceBlur {
        left: -10%;
    }
    nav {
        width: 70vw;
        margin: 0 15vw;
    }
}

/* Tabletas y Portátiles pequeños */
@media (min-width: 1025px) and (max-width: 1400px) {
    body {  
        width: 100vw;     
    }
    bodier {
        width: 100%;
        margin: 0;
    }
    #fondo-portada  {
        width: 78%; 
    }
    aside {
        width: 20%
    }
    #face , #faceBlur {
        left: 5%;
    }
    nav {
        width: 70vw;
        margin: 0 15vw;
    }
}
/* Tabletas y Portátiles grandes */
@media (min-width: 1401px) and (max-width: 1800px) {
    
    #face , #faceBlur {
        left: 12%;
    }
    nav {
        width: 70vw;
        margin: 0 15vw;
    }
}
/* Pantallas grandes */
@media (min-width: 1801px) {
    #fondo-portada  {
        
        
    }
    #face , #faceBlur {
        left: 20%;
    }
    nav {
        width: 70vw;
        margin: 0 15vw;
    }
}