:root {
    --primary: rgb(61, 5, 10);
    --secondary: rgb(247, 193, 143);
    --tertiary: rgb(63, 75, 238);
    --cuarto: rgb(231, 123, 173);
    --quinto: rgb(180, 211, 131);
    --sexto: rgb(110, 186, 236);
    --adaptativo: #ee6b92;
    --adaptativo2: #69bdee;
    --adaptativo3: #e2af75;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}
html {
    background-image: linear-gradient(140deg, var(--secondary) 15%, var(--tertiary)75%, var(--tertiary)10%);
    width: 100%;
    min-width: 480px;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    box-sizing: border-box;
    overflow: hidden;
}
body {
    margin:0 auto;
    min-width: 482px;
    width:1400px;
    height: 100vh;
    background-color: rgba(235, 176, 13, 0.158);
    /* mix-blend-mode: darken; */
    padding-top: 2vh;
}

#faceBlur, #face{
    height: 75vh;
    width:auto;
    position: absolute;
    bottom: 0px;
    left: 20%;
    mask-image: linear-gradient(to left, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
    pointer-events: none;
    opacity: 1;
    z-index: 5;
}
#header {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    height: 35px;
    margin: 0 auto;
}
nav > ul {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
}
nav li {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-grow: 1;
    flex-flow: 10px;
    background: linear-gradient(90deg, var(--adaptativo) 0%, var(--adaptativo) 50% ,rgba(0,0,0,0) 50%, rgba(0,0,0,0) 100%);
    background-size: 200% 100%;
    background-position: -100% 0%;
    transition: background-position 0.4s ease;
    border: 1px solid var(--tertiary);
    padding: 0.3rem;
    margin: 2px;
    align-items: center;
    box-sizing: border-box;
}
nav li a {
    display: block;
    width: 100%;
    color: var(--tertiary);
    text-align: center;
}
nav li:hover  {
    /* background-color: var(--secondary); */
    background-position: 0% 0%;
    border: 1px solid var(--tertiary);
    transition: 0.3s;
        a { 
            color: white;
            transition: 0.4s;          
        }
}
nav li.selected {
    pointer-events: none;
}
nav li:active  {
    background-color: var(--tertiary);
    outline: 2px var(--secondary) solid;
    transition: 0.3s;
}
nav li:active a { 
    color: var(--secondary);    
}
a {
    color: var(--font-color-nav);
    text-decoration: none;
    font-weight: 400;
}
aside h3 {
    transition: color 0.3s ease-in-out;
}
aside h3:hover {
    color:white
}
bodier {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: calc(100% - 35px - 70px);
    margin: 0 auto;
    justify-content: space-evenly;
    gap: 1vw;
    padding-left: 1vw;
    padding-right: 1vw;
}
aside {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    align-items: flex-end;
    width: 20%;
    height: auto;
    margin: 5vh 0 1vh;
    padding: 10vh 1%;
    border-radius: 3em;
    /* border: 0.1em solid rgba(243, 247, 5, 0.301); */
    /* background-image: linear-gradient(320deg, rgba(236, 224, 213, 0.2) 20%, rgba(240, 127, 164, 0.3)80%);
    mix-blend-mode: luminosity; */
    background-color: none;
    z-index: 6;
}
.conocTI {
    padding: 8vh 1%;
}
#indice {
    margin-top: 8px;
}
#aside-home {
    justify-content: end;
    color: aliceblue;
}
#fondo-portada {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 78%;
    /* height: 85vh; */
    height: auto;
    margin: 5vh 1vw 1vh 0;
    /* position:absolute;
    top: 10%;
    left: 20%; */
    border-radius: 3em;
    border: 0.1em solid rgba(243, 247, 5, 0.301);
    padding: 10vh 8vw;    
    overflow: hidden;
    /* justify-content: space-between;     */
    box-sizing:border-box;
    background-image: linear-gradient(320deg, rgba(236, 224, 213, 0.2) 20%, rgba(240, 127, 164, 0.3)80%);
    mix-blend-mode: luminosity;
    z-index: 6;
    transition: padding 0.8s ease;
    pointer-events: auto;    
}
#fondo-portada-home {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 78%;
    /* height: 85vh; */
    height: auto;
    margin: 5vh 1vw 1vh 0;
    justify-content: end;
    /* position:absolute;
    top: 10%;
    left: 20%; */
    border-radius: 3em;
    border: 0.1em solid rgba(243, 247, 5, 0.301);
    padding: 35vh 8vw;    
    overflow: hidden;
    /* justify-content: space-between;     */
    box-sizing:border-box;
    background-image: linear-gradient(320deg, rgba(250, 244, 238, 0.2) 20%, rgba(170, 160, 164, 0.3)80%);
    /* mix-blend-mode: luminosity; */
    z-index: 6;
    transition: padding 0.8s ease;
    pointer-events: auto; 
    padding-right: 2vw !important;
    padding-bottom: 4vh !important;   
}

#fondo-works {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    width: 78%;
    /* height: 85vh; */
    height: auto;
    margin: 5vh 1vw 1vh 0;
    /* position:absolute;
    top: 10%;
    left: 20%; */
    border-radius: 3em;
    border: 0.1em solid rgba(243, 247, 5, 0.301);
    padding: 8vh 7vw 6vh 8vw;    
    overflow: hidden;
    /* justify-content: space-between;     */
    box-sizing:border-box;
    background-image: linear-gradient(320deg, rgba(236, 224, 213, 0.2) 20%, rgba(238, 216, 223, 0.3)80%);
    mix-blend-mode: normal;
    z-index: 20;
    transition: padding 0.8s ease;
    pointer-events: auto; 
}
.cont-text {
    height: 100%;
    overflow: auto;
    padding-right: 5rem;
}
cont-text-home {
    height: 100%;
    padding-right: 0 !important;
}
.cont-text > article > p {
    font-size: 22px;
}
#hi {
    color: aliceblue;
    font-size: 60px;
    font-weight: 300;
    font-style: italic;
    padding-left: 2rem;
}
#sm {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 4rem;
    font-style: italic;
}

#think {
    font-size: 1.5rem;
    margin-left: 36%;
    text-align: end;
}
b {
    color: aliceblue;
    font-size: 1.7rem;
}
.cont-pic {
    display: flex;
    flex-direction: row;
    margin: 4% 0 auto auto;
    width: auto;
    height: 20vh;
    background-color: rgba(255, 253, 253, 0.15);
    padding: 16px;
    justify-content: space-between;
    border-radius: 0 0 36px 0;
    gap: 16px;
}
#pic1 {
    height: 100%;
    width: 100%;
    cursor: pointer;   
}
#pic2 {
    height: 100%;
    width: 100%;
    cursor: pointer;   
}
#pic3 {    
    height: 100%;
    width: 100%;
    border-radius: 0 0 30px 0;
    cursor: pointer;
}
.pic {
    filter: saturate(1) brightness(1);
    /* transition: filter 20s ease; */
}

/* .pic:hover {
    filter: saturate(4) brightness(3);
} */
.distortion {
    display: flex;
    background-image: url('../assets/pics/cht1.png');
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    pointer-events: none;
    /* transition: opacity 40s 10s ease; */
    z-index: 100;
    width: 100%;
    height: 100%;
}
.pic:hover {    
    .distortion {
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }
}
.cont-screen {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
    align-items: center;
    background-color: rgba(26, 25, 25, 0.233);
    padding: 16px 24px;
    border-radius: 8px;
}
.screen {
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    cursor: pointer;
}
.screen > img {
    width: 90%;
}
.ctrl1 {
    width: 0;
    height: 0;
    /* background-color:#69bdee; */
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 40px solid #ffffff;
    cursor: pointer;
}
.ctrl2 {
    width: 0;
    height: 0;
    /* background-color:#69bdee; */
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 40px solid #ffffff;
    cursor:pointer;
}
.ctrl1:hover {
    border-right: 40px solid var(--secondary);
}
.ctrl2:hover {
    border-left: 40px solid var(--secondary);
}
.ctrl1:active {
    border-right: 40px solid rgb(250, 244, 209);
}
.ctrl2:active {
    border-left: 40px solid rgb(250, 244, 209);
}
a {
    color:#a0003d;
    transition: color 0.3s ease-in-out;    
}
@keyframes blink {
    0%, 100% {
        color: #a0003d;
        text-shadow: 0 0 9px #ffffff;
    }
    50% {
        color: #fa2b7b;
        text-shadow: 0 0 9px #ffffff;
    }
}
article a:hover {
    animation: blink 0.5s infinite;
    /* color: #b208c2;
    font-weight: bold;
    text-shadow: 0 0 9px #ffffff; */
}

footer {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: end;   
    padding-right: calc(2vw + 3em); 
}
.soc-net {
    height: 50%;
    margin-right: 16px;
    z-index: 9;
    /* background-color: blue; */
    filter: opacity(0.4);
    cursor: pointer;
    
}
@keyframes blink-soc {
    0%, 100% {
        filter: invert(0) opacity(0.4);
        
        
    }
    50% {
        filter: invert(1) opacity(0.9);
    }
}
    
.soc-net:hover {
    animation: blink-soc 1.4s ease-in-out infinite;
}


/*|||||||||||||||| MEDIA QUERIES |||||||||||||||||*/
/* Teléfonos chico */
@media (max-width: 400px) {
    #cont-faces {
        left: -70% !important;
    }
    #think {
        margin-left: 36% !important;
    }
    #footer {
        padding-right: calc(2vw );
    }
}
@media (max-width: 481px) {
    body {
        /* min-width: 480px;    */
        width: 100%;     
    }
    bodier {
        width: 100%;
        margin: 0;
    }
    aside {
        display: none;
    }
    #fondo-portada {
        width: 92%;
    }
    #fondo-portada-home {
        width: 92%;
        padding-top: 30vh;
    }
    #face , #faceBlur {
        left: -40%;
    }
    nav {
        width: 70vw;
        margin: 0 15vw;
    }
    #think {
        font-size: 1rem;
        margin-left: 18%;
        text-align: end;
    }
    b {
        font-size: 1.1rem;
    }
    #sobre-img {
        left: 10% !important;
    }
    #hi {
        text-align: left;
        font-size: 1.7rem;
    }
    #sm {
        text-align: left;
        font-size: 2rem;
    }
    #pic2 {
        display: none;
    }
    #pic3 {
        display: none;
    }
    #footer {
        padding-right: calc(2vw );
    }
}

/* Teléfonos grandes */
@media (min-width: 481px) and (max-width: 767px) {
    body {  
        width: 100%;     
    }
    bodier {
        width: 100%;
        margin: 0;
    }
    #fondo-portada {
        width: 92%;
    }
    #fondo-portada-home {
        width: 92%;
        padding-top: 40vh;
    }
    aside {
        display: none;
    }
    #face , #faceBlur {
        left: -20%;
    }
    nav {
        width: 70vw;
        margin: 0 15vw;
    }
    .cont-text {
        padding-right: 2rem;
    }
    #think {
        font-size: 1.1rem;
        margin-left: 18%;
        text-align: end;
    }
    b {
        font-size: 1.2rem;
    }
    #sobre-img {
        left: 17% !important;
    }
    #hi {
        text-align: left;
        font-size: 2rem;
    }
    #sm {
        text-align: left;
        font-size: 3rem;
    }
    #pic2 {
        display: none;
    }
    #pic3 {
        display: none;
    }
}

/* Tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    body {  
        width: 100vw;     
    }
    bodier {
        width: 100%;
        margin: 0;
    }
    #fondo-portada {
        width: 92%;
    }
    #fondo-portada-home {
        width: 92%;
        
    }
    aside {
        display: none;
    }
    #face , #faceBlur {
        left: -10%;
    }
    nav {
        width: 70vw;
        margin: 0 15vw;
    }
    #think {
        font-size: 1.3rem;
        /* margin-left: calc((-100% / 3) + 73%); */
        text-align: end;
    }
    b {
        font-size: 1.5rem;
    }
    #hi {
        text-align: left;
    }
    #sm {
        text-align: left;
    }
    #pic3 {
        display: none;
    }
    #sobre-img {
        margin: 3vh 1vw 1vh 0 !important;
        /* width: 50% !important; */
        left: 20% !important;
        h1 {
            font-size: 3.4rem;
        }
        h2 {
            font-size: 2.6rem;
        }
    }
}

/* Tabletas y Portátiles pequeños */
@media (min-width: 1025px) and (max-width: 1400px) {
    body {  
        width: 100vw;     
    }
    bodier {
        width: 100%;
        margin: 0;
    }
    #fondo-portada  {
        width: 58%; 
    }
    aside {
        width: 20%;        
    }
    #face , #faceBlur {
        left: 12%;
    }
    nav {
        width: 70vw;
        margin: 0 15vw;
    }    
    #think {
        font-size: 1.2rem;
        margin-left: 45%;
        text-align: end;
    }
    #think b {
        font-size: 1.5rem;
    }
    .cont-pic {
        margin: 2% 0 auto auto;
    }
    #pic1, #pic2, #pic3 {
        display: flex;
    }
    #footer {
        padding-right: calc(2vw + 2em);
    }
}
/* Tabletas y Portátiles grandes */
@media (min-width: 1401px) and (max-width: 1800px) {
    
    #face , #faceBlur {
        left: 12%;
    }
    nav {
        width: 70vw;
        margin: 0 15vw;
    }
}
/* Pantallas grandes */
@media (min-width: 1801px) {
    #face , #faceBlur {
        left: 20%;
    }
    nav {
        width: 70vw;
        margin: 0 15vw;
    }
}